#top-artist-img1:hover{
    opacity: 0.5;
}
#recommend-btn1{
    position: absolute;
    top: 45%;
    left: 6%;
    opacity: 0;
}
#topArtist1:hover button{
    opacity: 1;
}

#top-artist-img2:hover{
    opacity: 0.5;
}
#recommend-btn2{
    position: absolute;
    top: 45%;
    left: 18%;
    opacity: 0;
}
#topArtist2:hover button{
    opacity: 1;
}

#top-artist-img3:hover{
    opacity: 0.5;
}
#recommend-btn3{
    position: absolute;
    top: 45%;
    left: 30%;
    opacity: 0;
}
#topArtist3:hover button{
    opacity: 1;
}

#top-artist-img4:hover{
    opacity: 0.5;
}
#recommend-btn4{
    position: absolute;
    top: 45%;
    left: 43%;
    opacity: 0;
}
#topArtist4:hover button{
    opacity: 1;
}

#top-artist-img5:hover{
    opacity: 0.5;
}
#recommend-btn5{
    position: absolute;
    top: 45%;
    left: 55%;
    opacity: 0;
}
#topArtist5:hover button{
    opacity: 1;
}
